@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}


* {margin : 0; padding: 0; box-sizing: border-box;}

::-webkit-scrollbar { display: none; }



/* <!-- Body --> */

body {
    font-family: 'PyeongChangPeace-Bold', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
    overflow: hidden;
    -webkit-animation: fadein 1s;
}

video {
    z-index: -999;
	position: fixed;
	height: 125%;
    -webkit-filter: blur(0px);
}



/* <!-- Form --> */

.form {
    z-index: 999;
    position: relative;
    padding: 80px 50px;
    border-radius: 40px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(40, 40, 40, 0.5);
}

.form > .variable{
    z-index: 999;
    font-family: 'PyeongChang-Bold', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight : lighter;
}

.form > h1{
    z-index: 999;
    position: relative;
    letter-spacing:1px;
    font-size: 45px;
}

.form > h6{
    font-family: 'PyeongChang-Bold', sans-serif;
    z-index: 999;
    position: relative;
    font-size: 18px;
    font-weight : lighter;
}



/* <!-- Info --> */

.info {
    z-index: 999;
    position: relative;
    font-family: 'PyeongChang-Bold', sans-serif;
    margin-top: 20px;
    font-size: 12px;
}

.info > a {
    text-decoration: none;
    color: white;
}



/* <!-- Object --> */

#gotchaPay {
    z-index: 999;
    margin-top: 50px;
    font-size: 15px;
    font-weight : lighter;
}

#oneGotcha {
    font-family: 'PyeongChang-Bold', sans-serif;
    word-spacing:2px;
    transition: all .5s ease;
    width: 100%; height: 50px;
    background: #ffffff;
    color: #202020;
    font-size: 25px;
    border: none;
    border-radius: 15px;
}

#oneGotcha:hover {
    background-color: #202020;
    color: #ffffff;
}

#searchGotcha {
    font-family: 'PyeongChang-Bold', sans-serif;
    margin-top: 10px;
    margin-right: 2.5px;
    transition: all .5s ease;
    width: 47%; height: 25px;
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(23, 40, 15, 0.5);
}

#searchGotcha:hover {
    background-color: rgba(149, 255, 99, 0.5);
}

#resetGotcha {
    font-family: 'PyeongChang-Bold', sans-serif;
    margin-top: 10px;
    margin-left: 2.5px;
    transition: all .5s ease;
    width: 47%; height: 25px;
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(40, 15, 15, 0.5);
}

#resetGotcha:hover {
    background-color: rgba(255, 99, 99, 0.5);
}