* {margin : 0; padding: 0; box-sizing: border-box;}

::-webkit-scrollbar { display: none; }

@-webkit-keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* <!-- Body --> */

body {
    font-family: 'PyeongChang-Bold', sans-serif;
    justify-content: center; align-items: center; text-align: center;
    display: flex;
    height: 100vh;
    color: white;
    background-color: white;
    background-size: cover;
    overflow: hidden;
    -webkit-animation: fadein 1s;
}

video {
    z-index: -999;
	position: fixed;
	height: 117.5%;
    transition: margin-left 1s;
    /* -webkit-filter: blur(25px); */
}

/* <!-- Form --> */

.form {
    z-index: 999;
    position: relative;
    padding: 80px 50px;
    border-radius: 40px;
    background-color: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
}

.form > .variable{ margin: 50px 0px; font-size: 25px; }
.form > h1{ font-family: 'PyeongChangPeace-Bold', sans-serif; font-size: 45px; }
.form > h6{ font-size: 18px; }



/* <!-- Info --> */

.info {
    z-index: 999;
    position: relative;
    margin-top: 20px;
    font-size: 12px;
}

.info > a { text-decoration: none; color: white; }



/* <!-- Button --> */

button {
    font-family: 'PyeongChang-Bold', sans-serif;
    z-index: 999;
    transition: all .5s ease;
    width: 47%; height: 25px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
}


#gotchaPay {
    margin-top: 50px;
    font-size: 15px;
}

#oneGotcha {
    width: 100%; height: 50px;
    color: #202020;
    font-size: 25px;
    border-radius: 15px;
}

#searchGotcha {
    margin: 10px 2.5px 0px 0px;
    background-color: rgba(23, 40, 15, 0.5);
}

#resetGotcha {
    margin: 10px 0px 0px 2.5px;
    background-color: rgba(40, 15, 15, 0.5);
}

#oneGotcha:hover { background-color: #202020; color: #ffffff; }
#searchGotcha:hover { background-color: rgba(185, 255, 152, 0.5); }
#resetGotcha:hover { background-color: rgba(255, 99, 99, 0.5); }

/* Extension */

@media ( max-width: 1080px ) {
    video {
        margin-left: 39.5vh;
        transition: margin-left 1s;
        }
    }
    .form {
        background-color: rgba(40, 40, 40, 0.5);
        backdrop-filter: blur(3px) saturate(200%);
        -webkit-backdrop-filter: blur(3px) saturate(200%);
    }
}
